examples/example.json
[
    {
        "id": "04e94ab435b12e91",
        "type": "reolink-siren",
        "z": "825daf4816a87de8",
        "name": "",
        "server": "",
        "x": 720,
        "y": 560,
        "wires": [
            [
                "0a57923cee060766"
            ]
        ]
    },
    {
        "id": "0a57923cee060766",
        "type": "debug",
        "z": "825daf4816a87de8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 560,
        "wires": []
    },
    {
        "id": "4f5fc6f767ed897e",
        "type": "inject",
        "z": "825daf4816a87de8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 510,
        "y": 540,
        "wires": [
            [
                "04e94ab435b12e91"
            ]
        ]
    },
    {
        "id": "6c8cb785b1112b8d",
        "type": "inject",
        "z": "825daf4816a87de8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 510,
        "y": 580,
        "wires": [
            [
                "04e94ab435b12e91"
            ]
        ]
    },
    {
        "id": "19a980f6a075e1a9",
        "type": "inject",
        "z": "825daf4816a87de8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "91e90ba2b02173f7"
            ]
        ]
    },
    {
        "id": "917a847d39110375",
        "type": "inject",
        "z": "825daf4816a87de8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 510,
        "y": 320,
        "wires": [
            [
                "91e90ba2b02173f7"
            ]
        ]
    },
    {
        "id": "3f5f6cc97b5bcf6f",
        "type": "inject",
        "z": "825daf4816a87de8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 510,
        "y": 480,
        "wires": [
            [
                "7eaba14b868e22c6"
            ]
        ]
    },
    {
        "id": "7d3ae8172feef255",
        "type": "debug",
        "z": "825daf4816a87de8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 60,
        "wires": []
    },
    {
        "id": "653f68275af5c8f7",
        "type": "debug",
        "z": "825daf4816a87de8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "753d58265c9a18ca",
        "type": "debug",
        "z": "825daf4816a87de8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 300,
        "wires": []
    },
    {
        "id": "ea26d6b68fd9b29d",
        "type": "reolink-md-event",
        "z": "825daf4816a87de8",
        "name": "",
        "server": "",
        "x": 740,
        "y": 60,
        "wires": [
            [
                "7d3ae8172feef255"
            ]
        ]
    },
    {
        "id": "4b98295b0bc87c4b",
        "type": "reolink-ai-event",
        "z": "825daf4816a87de8",
        "name": "",
        "server": "",
        "x": 720,
        "y": 140,
        "wires": [
            [
                "653f68275af5c8f7"
            ]
        ]
    },
    {
        "id": "91e90ba2b02173f7",
        "type": "reolink-light",
        "z": "825daf4816a87de8",
        "name": "",
        "server": "",
        "x": 710,
        "y": 300,
        "wires": [
            [
                "753d58265c9a18ca"
            ]
        ]
    },
    {
        "id": "7eaba14b868e22c6",
        "type": "reolink-alarm",
        "z": "825daf4816a87de8",
        "name": "",
        "server": "",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "876ca7efc1b6d28b",
        "type": "reolink-ptz-preset",
        "z": "825daf4816a87de8",
        "name": "",
        "server": "",
        "x": 730,
        "y": 840,
        "wires": [
            [
                "49d84190303fb3f0"
            ]
        ]
    },
    {
        "id": "4c336e0d2a2ab840",
        "type": "reolink-ptz-patrol",
        "z": "825daf4816a87de8",
        "name": "",
        "server": "",
        "x": 730,
        "y": 680,
        "wires": []
    },
    {
        "id": "ce441d901637b7e3",
        "type": "inject",
        "z": "825daf4816a87de8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 510,
        "y": 660,
        "wires": [
            [
                "4c336e0d2a2ab840"
            ]
        ]
    },
    {
        "id": "1ab985d450bcef44",
        "type": "inject",
        "z": "825daf4816a87de8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 510,
        "y": 700,
        "wires": [
            [
                "4c336e0d2a2ab840"
            ]
        ]
    },
    {
        "id": "c77378578afb4e0d",
        "type": "inject",
        "z": "825daf4816a87de8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 510,
        "y": 840,
        "wires": [
            [
                "876ca7efc1b6d28b"
            ]
        ]
    },
    {
        "id": "ed32c01d93ede652",
        "type": "inject",
        "z": "825daf4816a87de8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 510,
        "y": 880,
        "wires": [
            [
                "876ca7efc1b6d28b"
            ]
        ]
    },
    {
        "id": "62931787e68e8bc8",
        "type": "inject",
        "z": "825daf4816a87de8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "getPresets",
        "payloadType": "str",
        "x": 520,
        "y": 800,
        "wires": [
            [
                "876ca7efc1b6d28b"
            ]
        ]
    },
    {
        "id": "49d84190303fb3f0",
        "type": "debug",
        "z": "825daf4816a87de8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 840,
        "wires": []
    },
    {
        "id": "07f7cf1404076404",
        "type": "reolink-ir-light",
        "z": "825daf4816a87de8",
        "name": "",
        "server": "",
        "x": 720,
        "y": 400,
        "wires": [
            [
                "d96c8560bc95cd76"
            ]
        ]
    },
    {
        "id": "c05f5a8f59c8c301",
        "type": "inject",
        "z": "825daf4816a87de8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 510,
        "y": 380,
        "wires": [
            [
                "07f7cf1404076404"
            ]
        ]
    },
    {
        "id": "8f4785316f72eb9f",
        "type": "inject",
        "z": "825daf4816a87de8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 510,
        "y": 420,
        "wires": [
            [
                "07f7cf1404076404"
            ]
        ]
    },
    {
        "id": "d96c8560bc95cd76",
        "type": "debug",
        "z": "825daf4816a87de8",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "42d758733ecf61d8",
        "type": "reolink-event",
        "z": "825daf4816a87de8",
        "name": "",
        "topic": "",
        "server": "",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "4a3b84dedb66c315"
            ]
        ]
    },
    {
        "id": "4a3b84dedb66c315",
        "type": "debug",
        "z": "825daf4816a87de8",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 220,
        "wires": []
    }
]